<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Include roboto.css to use the Roboto web font, material.css to include the theme and ripples.css to style the ripple effect -->
    <link href="../styles/roboto.css" rel="stylesheet">
    <link href="../styles/material.css" rel="stylesheet">
    <link href="../styles/ripples.css" rel="stylesheet">

</head>
<body ng-app="PostMod" ng-controller="PostCtrl" ng-init="getUser()">


<div class="col-lg-12" >
    <div class="col-lg-6">
        <form class="form-horizontal" ng-submit="addPost()" ng-init="getCurrentUser()">
            <h2>Add Post</h2>
            <br>
            <div class="form-group">
                <div class="col-lg-10">
                    <textarea ng-model="title" class="form-control" rows="2" name="title" id="title" placeholder="Add title"></textarea>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="col-lg-10">
                    <textarea ng-model="content" class="form-control" rows="3" id="content" name="content" placeholder="Add post"></textarea>
                </div>
            </div>
          <div class="form-group">
            <div class="col-lg-10">
              <textarea ng-model="subtitle" class="form-control" rows="3" id="subtitle" name="subtitle" placeholder="Add subtitle"></textarea>
            </div>
          </div>
          <div class="form-group"  >
            <div class="col-lg-10">
              <textarea ng-model="useremail" class="form-control" rows="3" id="useremail" name="useremail" placeholder="User Email" disabled>{{user.email}}</textarea>
            </div>
          </div>
          <div class="col-lg-10 col-lg-offset-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
        </form>
    </div>
    <div class="col-lg-6" ng-controller="PostGetCtrl">
        <div class="list-group">
            <div class="list-group-item">
                <h1>Post List</h1>
                <div ng-repeat="post in posts">
                <div class="row-picture">
                    <img ng-src="http://lorempixel.com/56/56/people/1" class="circle" alt="icon">
                </div>
                <div class="row-content">
                    <h4 class="list-group-item-heading">{{post.title}}</h4>

                    <p class="list-group-item-text">{{post.content}}</p>
                    <p class="list-group-item-info">{{post.createdAt}}</p>
                    <p class="list-group-item-info">{{post.useremail}}</p>

                </div>
            </div>
            </div>
        </div>
    </div>

</div>

<script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script src="../js/dependencies/ripples.js"></script>
<script src="../js/dependencies/material.js"></script>
<script>
    $(document).ready(function () {
        // This command is used to initialize some elements and make them work properly
        $.material.init();
    });
</script>
</body>
</html>
