<!DOCTYPE html>
<!--[if lt IE 7]> <html class="lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]> <html class="lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>devLogin</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body ng-app="SignupMod" ng-controller="SignupCtrl">
<section class="container">
    <div class="login">
        <h1>Signup to devLogin</h1>
        <form ng-submit="signupSubmit()">
            <p><input ng-model="name" type="text" name="name" ng-maxlength="40" placeholder="Name"></p>
            <p><input ng-model="email" type="text" name="email" placeholder="Email"></p>
            <p><input ng-model="password" ng-maxlength="20" type="password" name="password" placeholder="Password" required></p>

            <!--<p class="remember_me">-->
                <!--<label>-->
                    <!--<input type="checkbox" name="remember_me" id="remember_me">-->
                    <!--Remember me on this computer-->
                <!--</label>-->
            <!--</p>-->
            <p class="submit"><input type="submit" name="submit" value="Signup"></p>
        </form>
    </div>

    <div class="login-help">
        <p>Already Have an Account? <a href="/login"><b>SIGN IN!</b></a></p>
    </div>
</section>
</body>
</html>