<header class="intro-header" style="background-image: url('img/home-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>devBlog</h1>
          <hr class="small">
          <span class="subheading">A Blog for Practice</span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="col-lg-12" ng-app="PostMod" ng-controller="PostCtrl" ng-init="getUser()">
  <div class="col-lg-6">
    <form class="form-horizontal" ng-submit="addPost()"  ng-init="getCurrentUser()">
      <h2>Add Post</h2>
      <br>
      <div class="form-group">
        <div class="col-lg-10">
          <textarea ng-model="title" class="form-control" rows="2" name="title" id="title" placeholder="Add title"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10">
          <textarea ng-model="content" class="form-control" rows="3" id="content" name="content" placeholder="Add content"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10">
          <textarea ng-model="subtitle" class="form-control" rows="3" id="subtitle" name="subtitle" placeholder="Add subtitle"></textarea>
        </div>
      </div>
      <div class="form-group"  >
        <div class="col-lg-10">
          <textarea ng-model="useremail" class="form-control" rows="3" id="useremail" name="useremail" placeholder="User Email" disabled>{{user.email}}</textarea>
        </div>
      </div>
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  <div class="col-lg-6" ng-controller="PostGetCtrl">
    <div class="list-group">
      <div class="list-group-item">
        <h1>Post List</h1>
        <div ng-repeat="post in posts">
          <div class="row-picture">
            <img ng-src="http://lorempixel.com/56/56/people/1" class="circle" alt="icon">
          </div>
          <div class="row-content">
            <h4 class="list-group-item-heading">{{post.title}}</h4>
            <h4 class="list-group-item-heading">{{title}}</h4>

            <p class="list-group-item-text">{{post.content}}</p>
            <p class="list-group-item-info">{{post.createdAt}}</p>
            <p class="list-group-item-info">{{post.useremail}}</p>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
