<header class="intro-header" style="background-image: url({{ picture || '/img/home-bg.jpg' }})">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>devBlog</h1>
          <hr class="small">
          <span class="subheading">A Blog for Practice</span>
        </div>
      </div>
    </div>
  </div>
</header>

<article ng-show="showP">
  <div class="container">
    <div class="row">

      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-preview">
          <a ng-click="hideOnePost()">
            <h2 class="post-title" data-toggle="tooltip" data-placement="top" title="Click To Close The Post">
              {{title}}
            </h2>

            <h3 class="post-subtitle">
              {{subtitle}}
            </h3>
          </a>

          <p>{{content}}</p>

          <p class="post-meta">Posted by {{useremail}} on {{createdAt}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h4>Leave a Comment:</h4>

        <form role="form">
          <div class="form-group">
            <textarea class="form-control" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary pull-right">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        <!-- Comment -->
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="http://placehold.it/64x64" alt="">
          </a>

          <div class="media-body">
            <h4 class="media-heading">Start Bootstrap
              <small>August 25, 2014 at 9:30 PM</small>
            </h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras
            purus
            odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
            fringilla.
            Donec lacinia congue felis in faucibus.
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <hr>
</article>

<!-- Comments Form -->

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div ng-repeat="post in posts">
        <div class="post-preview">
          <a ng-click="showPost(post)">
            <h2 class="post-title">
              {{post.title}}
            </h2>

            <h3 class="post-subtitle">
              {{post.subtitle}}
            </h3>
          </a>

          <p class="post-meta">Posted by <a href="#">{{post.useremail}}</a> on {{post.createdAt}}</p>
        </div>
        <hr>
      </div>

      <!-- Pager -->
      <ul class="pager">
        <li class="next">
          <a href="#">Older Posts &rarr;</a>
        </li>
      </ul>
    </div>
  </div>
</div>

