<header class="intro-header" style="background-image: url('img/home-bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>devBlog</h1>
          <hr class="small">
          <span class="subheading">A Blog for Practice</span>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <form class="form-signin"  ng-submit="signupSubmit()">
    <h2 class="form-signin-heading">Please sign up</h2>
    <label for="name" class="sr-only">Your name</label>
    <input ng-model="name" type="text" name="name" id="name" class="form-control" placeholder="Name" required autofocus>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input ng-model="email" type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input ng-model="password" ng-maxlength="20" type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-sm btn-primary btn-block" type="submit">Sign up</button>
  </form>
</div>
